body {

    margin: 0;
    box-sizing: border-box;
    height: 5000px;
    background-image: linear-gradient(to left,#001EDB, #065CEB, #50A8EA, #B6D2EB );
    background-attachment: fixed;
  
 
 }
 
 nav  {
 
     background-color: rgb(255, 255, 255);
     overflow: hidden;
     position: fixed;
     width: 90%;
     height: 20%;
     border-radius: 16px;
     margin: 20px;
     align-self: center;
     display: flex;
     flex-direction: column;
    
           
 
 }


 nav > .logo-titulo >.logo{

     font-size: 40px;
     color: black;
    
 
 }


nav > .logo-titulo > p {
 
    margin-top: 0px;
    color: rgb(0, 0, 0);
    
}

nav > .nav-list {
    list-style: none;
}


nav > .nav-list > .list-item >  a {
    
    color: rgb(0, 0, 0);
    text-decoration: none;



  

}

/*hover - significa " o que vai acontecer quando passar o mouse encima*/
nav a:hover {

    transition: .5s;
    background-color: rgb(0, 60, 255);
    color: white;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    float: left;
    padding: 14px 16px;
}

.images{

      display: grid;
      grid-template-columns: repeat(8, .4fr);
      grid-template-rows: repeat(30, .1fr);
      gap: 0.5rem;


}

.img{
  
    width: 90%;
    height: 100%;
    object-fit: cover;

}

.item {
     
    overflow: hidden;

}

.num01 {

  
    grid-column: 1/ span 8;
    grid-row: 9/ span 8;

  
}

.num02 {

    grid-column: 1/ span 8;
    grid-row: 16/ span 10;
  
}

.num03 {
    
     
    grid-column: 2/ span 6 ;
    grid-row: 25/ span 5;
  
}


button {
    
    background-color: rgb(161, 205, 255);
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 33%;

}

button:hover {

    transition: .1s;
    background-color: rgb(0, 81, 255);
    color:aliceblue;
    border-color: black;

}

 /*Desktop*/
 @media only screen and (min-width: 600px) {

    nav{
        flex-direction: row;
    }

 nav > .logo-titulo >  .logo {
    
     font-size: 40px;
 }
 
 nav p { 

     margin-top: 20px;
     padding: 14px 16px;
 
 }
 
 
 nav a {
 
     margin-top: 20px;
     padding: 14px 16px;
   
 
 }

 p{
     font-size: 20px;
     padding: 14px 16px;
 }
 
 .images{
       gap: 0.5rem;
 }
 
 .img{
   
     width: 90%;
     height: 100%;
 
 }
 
 .num01 {
     grid-column: 1/ span 5;
     grid-row: 7/ span 10;
 }
 
 .num02 {
 
     grid-column: 6/ span 10 ;
     grid-row: 6/ span 10;
   
 }
 
 .num03 {
 
  
     grid-column: 6/ span 5 ;
     grid-row: 16/ span 2;
   
 }
 
 
 button {
     border-radius: 20px;
     font-size: 30px;
     width: 100%;
     height: 100%;
 }
 
 
}
 
 
 
 